.section_title {
    width: 950px;
    text-align: center;
    border-bottom: 1px solid #808284;
    line-height: 0.7em;
    margin: 40px auto 20px;

span {
    background: #E8E8E8;
    padding: 0 10px;
    color: #808284;
    font-weight: 600;
    font-size: 1.125em;
}
}
.container-fluid{
  img.heroImg{
  height:300px;
  width:500px;
  }
}
